absl-py==0.9.0
appdirs==1.4.3
apturl==0.5.2
asn1crypto==0.24.0
astor==0.8.1
atari-py==0.2.6
attrs==19.3.0
backcall==0.2.0
beautifulsoup4==4.6.0
bibtexparser==1.1.0
bleach==3.1.5
box2d-py==2.3.8
brlapi==0.6.6
cachetools==4.0.0
certifi==2018.1.18
cffi==1.14.4
chardet==3.0.4
click==7.1.2
cloudpickle==1.3.0
colour==0.1.5
command-not-found==0.3
configparser==5.0.1
cryptography==2.1.4
cssutils==1.0.2
cupshelpers==1.0
cycler==0.10.0
cython==3.0a6
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
deprecated==1.2.10
dill==0.3.3
distro-info==0.18ubuntu0.18.04.1
docker-pycreds==0.4.0
dtreeviz==0.8.2
entrypoints==0.3
fake-useragent==0.1.11
fasteners==0.16
feedparser==5.2.1
future==0.18.2
gast==0.2.2
geographiclib==1.50
geopy==2.0.0
getorg==0.3.1
gitdb==4.0.5
gitpython==3.1.9
glfw==2.0.0
google-auth-oauthlib==0.4.1
google-auth==1.11.3
google-pasta==0.2.0
graphviz==0.14.2
grpcio==1.27.2
gurobipy==9.1.0
gym==0.17.3
h5py==2.10.0
html5lib==0.999999999
httplib2==0.9.2
idna==2.6
imageio==2.9.0
importlib-metadata==1.7.0
ipykernel==5.3.3
ipython-genutils==0.2.0
ipython==7.16.1
jedi==0.17.2
jinja2==2.11.2
joblib==0.14.1
json5==0.9.5
jsonschema==3.2.0
jupyter-client==6.1.6
jupyter-core==4.6.3
jupyterlab-server==1.2.0
jupyterlab==2.2.0
keras-applications==1.0.8
keras-preprocessing==1.1.0
keyring==10.6.0
keyrings.alt==3.0
kiwisolver==1.1.0
language-selector==0.1
launchpadlib==1.10.6
lazr.restfulclient==0.13.5
lazr.uri==1.0.3
lockfile==0.12.2
louis==3.5.0
lxml==4.2.1
macaroonbakery==1.1.3
markdown==3.2.1
markupsafe==1.1.1
matplotlib==3.2.0
mistune==0.8.4
mpi4py==3.0.3
mujoco-py==1.50.1.68
nbconvert==5.6.1
nbformat==5.0.7
netifaces==0.10.4
networkx==2.5
nose==1.3.7
notebook==6.0.3
numpy==1.19.5
oauth==1.0.1
oauthlib==3.1.0
olefile==0.45.1
opencv-python==4.2.0.32
opt-einsum==3.2.0
packaging==20.4
pandas==1.0.3
pandocfilters==1.4.2
parso==0.7.0
pathlib==1.0.1
pathtools==0.1.2
pexpect==4.2.1
pickleshare==0.7.5
pillow==7.0.0
pip==21.0.1
ply==3.11
prometheus-client==0.8.0
promise==2.3
prompt-toolkit==3.0.5
protobuf==3.13.0
psutil==5.7.2
ptyprocess==0.6.0
pyasn1-modules==0.2.8
pyasn1==0.4.8
pycairo==1.16.2
pycparser==2.20
pycrypto==2.6.1
pycups==1.9.73
pydot==1.4.1
pygithub==1.53
pyglet==1.5.0
pygments==2.6.1
pygobject==3.26.1
pyjwt==1.7.1
pymacaroons==0.13.0
pynacl==1.1.2
pyo==1.0.3
pyomo==5.6.9
pyparsing==2.4.6
pyrfc3339==1.0
pyrsistent==0.16.0
python-apt==1.6.5+ubuntu0.5
python-dateutil==2.8.1
python-debian==0.1.32
pytz==2018.3
pyutilib==5.8.0
pyxdg==0.25
pyyaml==3.12
pyzmq==19.0.1
pyzotero==1.4.15
reportlab==3.4.0
requests-oauthlib==1.3.0
requests-unixsocket==0.1.5
requests==2.23.0
retrying==1.3.3
ripleyk==0.0.3
rsa==4.0
scikit-learn==0.22.2.post1
scipy==1.5.4
scour==0.36
scraperapi-sdk==0.2.2
seaborn==0.10.0
secretstorage==2.3.1
send2trash==1.5.0
sentry-sdk==0.19.0
setuptools==46.0.0
shortuuid==1.0.1
simplejson==3.13.2
six==1.14.0
sklearn==0.0
smmap==3.0.4
stable-baselines3==0.10.0
subprocess32==3.5.4
system-service==0.3
systemd-python==234
tensorboard==1.14.0
tensorflow-estimator==1.14.0
tensorflow==1.14.0
termcolor==1.1.0
terminado==0.8.3
testpath==0.4.4
torch==1.6.0
torchvision==0.7.0
tornado==6.0.4
tqdm==4.46.0
traitlets==4.3.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.22
wadllib==1.3.2
wandb==0.10.10
watchdog==0.10.3
wcwidth==0.2.5
webencodings==0.5
werkzeug==1.0.0
wheel==0.34.2
wrapt==1.12.1
wxpython==4.1.1
xkit==0.0.0
zipp==3.1.0
zope.interface==4.3.2